.cont-sec{
    width: 70%;
    min-height: 500px;
    margin: 0 auto;
    background-color: #b91450;
    text-align: center;
}
.bottoniColorati{
    border: 1px solid #d2688f;
    border-radius: 5px;
}
.btnAzioni{
    border-radius: 5px;
    color: #b91450;
    background-color: #cccccc;
    font-weight: bold;
}
.genera{
    border: 2px solid #f7c396;
}
.insDati{
    width: 90%;
    margin: 0 auto;
    color: #c53b6d;
    background-color: aliceblue;
}
.nomePass{
    background-color: #808080;
}
.ilTuoBiglietto{
    width: 90%;
    margin: 0 auto;
    background-color: aliceblue;
}
.colDestra{
    border: 1px solid gray;
}